@import "./includes/theme";
@import "./includes/zmdi";
@import "./includes/custom";
@import "./includes/menu";
@import "./includes/loadingspinner";
@import "./includes/file-manager";
@import "./includes/datepicker";

header {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-width {
  width: 100%;
}

.sidebar {
  overflow-y: auto;
}

.fc-icon {
  color: black !important;
  margin-top: 15px !important;
}

.hideckeditorwrapper{
  .cke_top{
    display: none;
  }
}
.selectize-dropdown, .selectize-input, .selectize-input input{
  color: grey !important;
}
.select{
  &:before{
    display: none;
  }
}

.form-control{
  //color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: unset;
  //-webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
