@import "./includes/theme";
@import "./includes/zmdi";
@import "./includes/custom";
@import "./includes/menu";
@import "./includes/loadingspinner";
@import "./includes/file-manager";
@import "./includes/datepicker";

header {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-width {
  width: 100%;
}

.sidebar {
  overflow-y: auto;
}

.fc-icon {
  color: black !important;
  margin-top: 15px !important;
}

.hideckeditorwrapper{
  .cke_top{
    display: none;
  }
}