//.selectize-input {
//  background-color: transparent !important;
//}

.selectize-control.multi .selectize-input > div, .selectize-control.multi .selectize-input [data-value] {
  background-color: $primary !important;
  background-image: none !important;
  background: $primary !important;
  border: 1px solid $secondary !important;
  color: #fff !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left: 1px solid #fff !important;
}
//
//.tab-pane {
//  margin-left: -15px !important;
//}
//
//i {
//  color: #fff;
//}
//
//.content__title {
//  margin-bottom: -5px;
//  padding: 0;
//}
//
//.actions {
//}
//
//button:hover {
//  cursor: pointer;
//}
//
//select {
//  color: grey !important;
//}
//
////Old
//.breadcrumb-header {
//  margin-bottom: 30px;
//}
//
//.display-flex {
//  display: inline-flex;
//}
//
//.btn-nostyle {
//  background-color: transparent;
//  border: none;
//}
//
//.main-content {
//  margin-bottom: 30px;
//}
//
//.control-label {
//  text-align: left !important;
//}
//
//td {
//  border-top: 0px solid red !important;
//}
//
//tbody > tr {
//  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
//  border-bottom: 0px solid transparent !important;
//}

#preview_thumb {
  max-width: 500px;
}

.extension_icon {
  height: 30px;
}

.file_preview > img {
  max-height: 200px;
  min-width: 50px;
  display: none;
  position: absolute;
  border: 2px solid $primary;
  border-radius: 5px;
  top: -160px;
  z-index: 100;
}

.preview_image:hover > .file_preview > img {
  display: block;
}

.slider_image_preview > img {
  max-height: 150px;
  display: none;
  position: absolute;
  border: 3px solid $primary;
  border-radius: 5px;
  top: 20px;
  z-index: 100;
}

.slider_image_preview:hover > img {
  display: block;
}

.file_full_name {
  padding-left: 20px;
}

.img-preview {
  max-width: 100%;
}

.input-group-btn {
  span {
    &:hover {
      cursor: pointer;
    }
  }
}
//
//.feedback-sidebar{
//  background-color: black;
//  transition: 0.3s;
//  position: fixed;
//  right: 0px;
//  top: 50%;
//  transform: translateY(-50%);
//  z-index: 1000;
//  padding-top: 10px;
//  border-top-left-radius: 20px;
//  border-bottom-left-radius: 20px;
//  p{
//    writing-mode: vertical-rl;
//    text-orientation: upright;
//    color: white;
//    font-size: 10px;
//    font-weight: bold;
//    margin-left: 6px;
//    margin-right: 5px;
//  }
//
//  &:hover{
//    background-color: lighten(black, 20%);
//    transition: 0.3s;
//  }
//}
